@media only screen and (min-width:600px) {
    form input[type=text] {
        width: 40%;
        min-width: 380px;
    }

    .selectButton {
        padding: 1vw;
    }
    
    div.pause {
        font-size: 800%;
    }

    body.paused div.pause {
        font-size: 1600%;
    }

    .toast {
        font-size: large;
        width: 60%!important;
    }

    .logo {
        min-width: 300px;
        width: 20%;
    }

    .fh_logo {
        width: 20%;
    }

    .textContainer {
        font-size: x-large;
    }

    div.control {
        border-width: 0 1vh 1vh 0;
    }

    div.up {
        top:11%;
    }

    input[type=button].button {
        width: 20%;
        min-width: 200px;
    }
    /* scores */
    .scoreTable {
        min-width: 400px;
        width:40%;
        height:60%;
    }

    #aboutContent {
        min-width: 400px;
        width:40%;
        height:60%;
    }
}

/* tablet only */
@media only screen and (max-width:1100px) {
    div.up {
        top:0%;
    }

    div.control {
        border-width: 0.3vh 1vh 1vh 0.3vh;
        border-top-style: dotted;
        border-left-style: dotted;
    }

    .fh_logo {
        width: 35%;
    }

    div.pause {
        font-size: xx-large;
    }

    body.paused div.pause {
        font-size: 1000%;
    }
}

@media only screen and (max-width:600px) {
    form input[type=text] {
        width: 100%;
    }
    
    .selectButton {
        padding: 5%;
    }

    div.pause {
        font-size: xx-large;
    }

    body.paused div.pause {
        font-size: 800%;
    }

    .toast {
        font-size: small;
        width: 80%!important;
    }

    .logo {
        width: 35%;
    }

    .fh_logo {
        width: 50%;
    }

    input[type=button].button {
        padding: 5px;
        min-width: 50%;
    }
    /* scores */
    .scoreTable {
        width:80%;
        height:75%;
    }

    #aboutContent {
        width: 80%;
    }
}