@media only screen and (min-width: 1100px) {
    form input[type=text] {
        width: 30%;
        min-width: 300px;
    }

    .selectButton {
        padding: 1vw;
    }
    
    div.pause {
        font-size: 800%;
    }

    body.paused div.pause {
        font-size: 1600%;
    }

    .toast {
        font-size: large;
        width: 30%!important;
    }

    .logo {
        width: 20%;
    }

    .textContainer {
        font-size: x-large;
    }

    div.control {
        border-width: 0 1vh 1vh 0;
    }

    div.up {
        top:11%;
    }

    input[type=button].startButton {
        min-width: 15%;
    }
    /* scores */
    .scoreTable {
        width:40%;
        height:60%;
    }

    .scoreButton {
        min-width: 15%;
    }
}

@media only screen and (max-width:1100px) {
    form input[type=text] {
        width: 100%;
    }
    
    .selectButton {
        padding: 5%;
    }

    div.pause {
        font-size: xx-large;
    }

    body.paused div.pause {
        font-size: 800%;
    }

    .toast {
        font-size: small;
        width: 80%!important;
    }

    .logo {
        width: 35%;
    }

    div.control {
        border-width: 0.3vh 1vh 1vh 0.3vh;
        border-top-style: dotted;
        border-left-style: dotted;
    }

    input[type=button].startButton {
        min-width: 50%;
    }
    /* scores */
    .scoreTable {
        width:80%;
        height:66%;
    }

    .scoreButton {
        min-width: 50%;
    }
}