@media only screen and (min-width: 1100px) {
    form input[type=text] {
        width: 30%;
        min-width: 300px;
    }

    .selectButton {
        padding: 1vw;
    }

    
    div.pause {
        font-size: 800%;
    }

    body.paused div.pause {
        font-size: 1600%;
    }

    .toast {
        font-size: large;
        width: 30%!important;
    }
}

@media only screen and (max-width:1100px) {
    form input[type=text] {
        width: 100%;
    }
    
    .selectButton {
        padding: 5%;
    }

    div.pause {
        font-size: xx-large;
    }

    body.paused div.pause {
        font-size: 800%;
    }

    .toast {
        font-size: small;
        width: 80%!important;
    }
}