table {
  table-layout: fixed;
  width: 100%;
}

th {
  font-weight: bold;
  font-size: large;
}

td {
  min-width: 0;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
}

td:nth-child(2) {
  text-align:center;
}

td:nth-child(3) {
  text-align:right;
}

th, td {
  padding:1vh;
  border-bottom:1px solid #ddd;
}

.scores {
  display: none;
  z-index:6;
  background-image: linear-gradient(to bottom right, rgba(120,150,180,1) 0px, #304352 40%);
  height:100%;
  width:100%;
  position:absolute;
}

.scoreTable {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#scoreButton {
  z-index:6;
}