@font-face {
    font-family: 'press_startregular';
    src: url('fonts/prstart-webfont.woff2') format('woff2'),
         url('fonts/prstart-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  touch-action: manipulation; /* disable double tap on apple devices */
}

body, html {
  position: fixed;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color:#ffaa00;
  margin: 0;
  overflow: hidden;
}

input {
  font-family: 'Josefin Sans', sans-serif;
  color:#ffaa00;
}

h2 {
  font-size: x-large;
}

#pausescreen p {
  font-size: medium;
  margin-top: 5vh;
}

.logo {
  position: absolute;
  right: 0%;
  z-index: 100;
  transform: rotate(33deg);
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* avoid background when tapped */
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.control {
  position: absolute;
  border: solid white;
  border-bottom-color: #ffaa00;
  border-right-color: #ffaa00;
  padding: 5vh;
  margin: 0px;
  opacity: 0.2;
  z-index: 2;
}

div.pause {
  position: absolute;
  right: 5%;
  top: 10%;
  border: none;
  z-index: 1;
  opacity: 1;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

div.pausedbg {
  position: absolute;
  background-color: #304352;
  z-index: 2;
  text-align: center;
  width: 100%;
  height: 100%;
}

body.paused div.pause {
  top: 40%;
  margin: auto;
  right: 0%;
  width: 100%;
  text-align: center;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dg.ac {
    /*z-index:100!important;*/
    display: none;
}

.textContainer {
  position: absolute;
  left: 1%; 
  top: 7.5%;
  font-size: medium;
  z-index: 4;
  opacity: 0.8;
  line-height: 0.2vh;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}

.centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #304352;
  z-index: 3;
}

.form {
  position:relative;
  text-align:center;
  top:20%;
}

form input[type=text] {
  outline: 0;
  display: block;
  height: 3vh;
  margin: auto;
  text-align: center;
  background: none;
  border: 1px solid #ffaa00;
  border-radius: 25px;
  padding: 2px;
  font-size: 2vh;
}

input:disabled {
  text-decoration: line-through;
}

.label {
  display: block;
  font-size: 2vh;
  margin-bottom: 1vh;
}

.formgroup {
  margin: 30px;
}

input[type=button], input[type=submit] {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
}

.selectButton {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
  margin-top: -20px;
  margin-right: 10px;
  margin-bottom: -20px;
}

input[type=button].startButton {
  margin-top: 20px;
  font-size: x-large;
  border: 2px solid #ffaa00;
  border-radius: 25px;
  padding: 10px;
  min-width: 15%;
}

.centered h2 {
  color: #E59900;
  position: relative;
  text-align: center;
  top: 20%;
}

#toast-container {
  margin-top: 20px;
}

.toast {
  opacity: 1 !important;
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

div.control.firstStart {
  opacity: 0;
  animation: blinking 1s linear infinite;
}

div.control.dragging {
  opacity: 1!important;
}

div.pause.dragging {
  opacity: 0;
  animation: blinking 1s linear infinite;
}

@keyframes blinking {
  50%
  {
    opacity: 1;
  }
}

.paused canvas {
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
}

body.firstStart div.control {
  animation: pulse 4s alternate;
}

body.firstStart div.pause {
  animation: none;
}

@keyframes pulse {
  0% {
    opacity: 1;
    border-color: #51A351;
    color: #51A351;
  }
  20% {
    opacity: 1;
    border-color: white;
    color: black;
  }
  40% {
    opacity: 1;
    border-color: #51A351;
    color: #51A351;
  }
  60% {
    opacity: 1;
    border-color: white;
    color: black;
  }
  80% {
    opacity: 1;
    border-color: #51A351;
    color: #51A351;
  }
  100% {
    opacity: 0.3;
    border-color: white;
    color: black;
  }
}