@font-face {
    font-family: 'press_startregular';
    src: url('fonts/prstart-webfont.woff2') format('woff2'),
         url('fonts/prstart-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  touch-action: manipulation; /* disable double tap on apple devices */
}

body {
  margin: 0;
  overflow: hidden;
}

i {
  position: absolute;
  border: solid white;
  border-width: 0 30px 30px 0;
  display: inline-block;
  padding: 30px;
  opacity: 0.3;
}

i.pause {
  position: absolute;
  right: 5%;
  top: 10%;
  font-size: xx-large;
  border: none;
  color: black;
  z-index: 3;
  opacity: 1;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dg.ac {
    z-index:100!important;
}

.textContainer {
  position: absolute;
  font-family: 'press_startregular';
  left: 5%; 
  top: 5%; 
  color: black;  
  font-size: 20px;
  z-index: 4;
  opacity: 0.8;
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

.centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: orange;
  background-color: black;
  z-index: 3;
}

.form {
  position:relative;
  text-align:center;
  top:30%;
}

form input[type=text] {
  font-family: 'press_startregular';
  display: block;
  height: 20px;
  margin: auto;
  text-align: center;
  background: none;
  color: orange;
  border: 1px solid orange;
  width: 30%;
  min-width: 450px;
}

input:disabled {
  text-decoration: line-through;
}

.label {
  display: block;
  font-family: 'press_startregular';
}

.formgroup {
  margin: 30px;
}

input[type=button], input[type=submit] {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  color:orange;
}

.selectButton {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
}

.startButton {
  color:orange;
  font-family: 'press_startregular';
  font-size: 30px;
}

h2 {
  color: orangered;
  font-family: 'press_startregular';
  position: relative;
  text-align: center;
  top: 25%;
}

#toast-container {
  opacity: 1 !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.dragging {
  opacity: 0;
  animation: blinking 1s linear infinite;
}

i.pause.dragging {
  opacity: 0;
}

@keyframes blinking {
  50%
  {
    opacity: 1;
  }
}

.paused {
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
}